/* Existing fonts in /fonts folder: 
   Alo.ttf, CuteBianca.otf, Gamer.otf, PixelGame.otf, Qax.ttf, SuperPixel.ttf, YangBagus.ttf
*/

@font-face {
  font-family: 'Super Pixel';
  src: url('/fonts/SuperPixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yang';
  src: url('/fonts/YangBagus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bianca';
  src: url('/fonts/CuteBianca.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel';
  src: url('/fonts/PixelGame.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gamer';
  src: url('/fonts/Gamer.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'alo';
  src: url('/fonts/Alo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'qax';
  src: url('/fonts/Qax.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
